form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
li {
    margin: 6px 0;
}
i {
    border-radius: 3px;
    padding: 2px;
    background: lightsteelblue;
    color: darkorchid;
}